.close-room-modal {
  background: red;
  max-width: 600px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--wrap-bg);
}

.close-room-modal .close-room-modal-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: var(--bg);
}

.close-room-modal .close-room-modal-header button {
  margin-left: auto;
}

.close-room-modal .close-room-modal-content {
  display: flex;
  justify-content: center;
  padding: 15px;
}
