.nav-menu {
  font-size: var(--menu-font-size);
}
.nav-menu nav {
  display: contents;
}

.nav-menu .fields-wrap {
  display: flex;
}

.nav-menu .field-wrap {
  display: inline-block;
  width: 100%;
  border-radius: 0px;
  margin-bottom: 0.5rem;
  line-height: 1.6;
}

.nav-menu .active {
  background-color: var(--shadow);
}

.nav-menu .field-wrap {
  margin-right: 0px;
  margin-left: 0px;
}

.nav-menu .field-wrap:first-child {
  margin-left: var(--nav-menu-margin-horizontal);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.nav-menu .field-wrap:last-child {
  margin-right: var(--nav-menu-margin-horizontal);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.nav-menu .nav-menu-user-content {
  display: flex;
  flex-direction: row;
}

.nav-menu .user-avatar {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
