.activeQuestionSelector select {
  width: 100%;
  background-color: var(--wrap-bg);
  color: var(--text);
}

.activeQuestionSelector option.closed {
  text-decoration: line-through;
  opacity: 0.4;
}

.activeQuestionSelector option:checked{
  background-color: var(--text);
}

.activeQuestionSelector option:active{
  background-color: red;
}
