.questionTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.questionTags .tag-item {
  border: 1px solid var(--bg);
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  padding: 0.5rem;
}