.rooms-list {
  padding: 0px;
  list-style-type: none;
}

.rooms-list .room-link {
  font-size: var(--menu-font-size);
  line-height: var(--menu-line-height);
}

.rooms-list .room-users {
  font-size: 0.75rem;
}
