.rooms-list {
  padding: 0px;
  list-style-type: none;
}

.rooms-list .room-link {
  font-size: var(--menu-font-size);
}

.rooms-list .room-users {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

.rooms-list .room-users-avatar {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  object-fit: contain;
}
